:root {
	--border-radius-int: 7px;
	--body-color: #313131;
	--box-shadow-one: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--body-color);
}

* {transition: 0.1s ease-in-out; font-family: 'Montserrat', sans-serif;}
button:focus {outline: none;}

::-webkit-scrollbar {background: rgba(255, 255, 255, 0); width: 8px;}
::-webkit-scrollbar-thumb {background: var(--scrollbar-thumb-color); border-radius: 0px;}
::-webkit-scrollbar-track-piece {background: transparent;}

#main-block {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}

#keyboard-block {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid transparent;
	width: 90%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	user-select: none;
}

#keyboard-block > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8px;

}
#keyboard-block > div > div {
	padding: 8px 14px;
	background: white;
	border: 2px solid white;
	font-size: 18pt;
	margin-right: 8px;
	border-radius: var(--border-radius-int);
	box-shadow: var(--box-shadow-one);
}
#key-tab {width: 110px;}
#key-shift {width: 105px;}
#key-space {width: 500px;}

#keyboard-block > div > div:not(#key-tab, #key-shift, #key-space, #key-ctrl, #key-backspace, #key-capslock, #key-enter, #key-alt) {
	width: 30px;
	text-align: center;
	padding: 8px;
}

